body {
    background-image: url('https://i.pinimg.com/originals/59/45/ff/5945ff665e2ecb8fab0d68343278b225.gif');
    background-attachment: fixed;
    background-size: cover;
}

#results {
    display: flex;
    flex-wrap: wrap;
}
.card-body{
    color: aliceblue;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-hiperespacial-3d-efecto-tunel-urdimbre_1048-12526.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    margin: 10px;
}