body {
    background-image: url('https://i.pinimg.com/originals/59/45/ff/5945ff665e2ecb8fab0d68343278b225.gif');
    background-attachment: fixed;
    background-size: cover;
}

#results {
    display: flex;
    flex-wrap: wrap;
}
.card-body{
    color: aliceblue;
    background-image: url('https://wallpaper.forfun.com/fetch/a5/a5c76c61934efbd35c9b63b39fc678b5.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    margin: 10px;
}